body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://userscontent2.emaze.com/images/ac1c90b6-5618-463e-b5e3-72fb28b18edd/be58b72081ebffca107c5e7aed5944b8.jpg');
  }